    <div class="grid">

<div class="col-12 xl:col-6">

    <div class="card">
                <h5>Nuestro 2025</h5>
               <div class="card">
                
                <p-chart type="line" [data]="chartData2" [options]="chartOptions2"></p-chart>
            </div>
            </div>

        </div>

        <div class="col-12 lg:col-8 xl:col-6">
            
                  <div class="card">
                <h5>Comparativa de Folios por año</h5>
               <div class="card">
               
                <p-chart type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>
            </div>

            
        </div>

         <div class="col-2 lg:grid-cols-2 xl:col-4">
  <div class="card">
    <h5>Distribución de Folios por Estatus</h5>
 <div class="card">
<p-chart
      type="doughnut"
      [data]="pieData"
      [options]="pieOptions">
    </p-chart>
 </div>
    
  </div>
</div>

        
      
<div class="card">
  
  <div class="card" style="height: 450px; width: 500px">
    <h5>Top 10 - Clientes por Folios</h5>

    <p-chart
      type="bar"
      [data]="topClientesBarData"
      [options]="topClientesBarOptions"
      style="height: 100%">
    </p-chart>
  </div>


</div>
        

        <div class="col-12 xl:col-6">
           

    </div>
</div>

