<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/layout">
        <img src="assets/layout/images/logoShessmat.jpg" alt="shessmat logo" class="w-6rem h-5rem flex-shrink-10"> 
    </a>
    
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    
    
      <!-- Contenedor para centrar la imagen del logo -->
      <div class="layout-header-logo-container">
        <img src="assets/layout/images/shessmat.png" alt="shessmat logo" class="logo-center">
    </div>
     

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
  

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <a class="user-info text-black fst-normal fs-10 title m-lg-4">{{user}}</a>
    
        <!-- Contenedor del botón logout -->
        <div class="logout-container">
            <button class="p-link layout-topbar-button logout-button" (click)="logout()">
                <i class="pi pi-sign-out"></i>
                <span>Salir</span>
            </button>
        </div>
    </div>

  
    
</div>