<div class="grid">
  <div class="col-12 md:col-10">
    <div class="card px-4 py-6">
      <p-toast></p-toast>

      <form [formGroup]="formFolio" class="space-y-6">
        <!-- Primer bloque: Folio y Fecha -->
        <div class="bg-white shadow rounded-xl p-4 max-w-[850px] mx-auto">
          <div class="flex flex-col md:flex-row gap-4">
            
                 <div class="flex flex-col flex-1">
              <label class="text-sm font-medium text-gray-700 mb-1">Folio</label>
              <input type="text" formControlName="folio"  [readonly]="true"
    class="border border-gray-300 rounded-lg px-3 py-2 text-sm text-gray-500 bg-gray-100 cursor-not-allowed focus:outline-none" />
            </div>

           <div class="flex flex-col flex-1">
  <label class="text-sm font-medium text-gray-700 mb-1">Fecha</label>
  <input
    type="date"
    formControlName="fecha"
    [value]="hoy"
    [readonly]="true"
    class="border border-gray-300 rounded-lg px-3 py-2 text-sm text-gray-500 bg-gray-100 cursor-not-allowed focus:outline-none"
  />
</div>


          </div>
        </div>

        
        <!-- Tercer bloque: Datos del Equipo -->
        <div class="bg-white shadow rounded-xl p-6 max-w-[850px] mx-auto space-y-4">
          <div class="flex flex-col md:flex-row gap-4">
            <div class="flex flex-col flex-1">
              <label class="text-sm font-medium text-gray-700 mb-1">Tipo de Equipo</label>
              <select formControlName="tipoEquipo"
         (change)="onTipoEquipoChange($event.target.value)"
        class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
  <option *ngFor="let tipo of tiposEquipos" [value]="tipo">{{ tipo }}</option>
</select>
            </div>

           <!-- Marca dinámica -->
<div class="flex flex-col flex-1">
  <label class="text-sm font-medium text-gray-700 mb-1">Marca</label>
  <select formControlName="marca"
          (change)="onMarcaChange($event.target.value)"
          class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
    <option value="" disabled selected>Selecciona una marca</option>
    <option *ngFor="let marca of marcasActuales" [value]="marca">{{ marca }}</option>
  </select>
</div>
          </div>

       <!-- Campos de Modelo y Num. Serie según reglas -->
<div *ngIf="mostrarModeloSerie" class="flex flex-col md:flex-row gap-4 mt-4">
  <div class="flex flex-col flex-1">
    <label class="text-sm font-medium text-gray-700 mb-1">Modelo</label>
    <input type="text" formControlName="modelo"
           class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
  </div>
  <div class="flex flex-col flex-1">
    <label class="text-sm font-medium text-gray-700 mb-1">Num. Serie</label>
    <input type="text" formControlName="numSerie"
           class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
  </div>
</div>
  <!-- Preguntas dinámicas si es Laptop -->
  <div  *ngIf="isLaptop || isCelular" class="flex flex-col md:flex-row gap-4">
    <!-- ¿Viene encendido? -->
  <div class="flex flex-col md:flex-row gap-4 items-center">
    <label class="text-sm font-medium text-gray-700 mb-1">¿Viene encendido?</label>
    <div class="flex gap-4">
      <label>
        <input type="radio" formControlName="encendido" [value]="true"> Sí
      </label>
      <label>
        <input type="radio" formControlName="encendido" [value]="false"> No
      </label>
    </div>
  </div>

  <!-- ¿Trae cargador? -->
  <div class="flex flex-col md:flex-row gap-4 items-center">
    <label class="text-sm font-medium text-gray-700 mb-1">¿Trae cargador?</label>
    <div class="flex gap-4">
      <label>
        <input type="radio" formControlName="traeCargador" [value]="true"> Sí
      </label>
      <label>
        <input type="radio" formControlName="traeCargador" [value]="false"> No
      </label>
    </div>
  </div>

     <!-- Campos de cargador solo si trae cargador -->
  <div *ngIf="formFolio.get('traeCargador')?.value" class="flex flex-col md:flex-row gap-4">
    <div class="flex flex-col flex-1">
      <label class="text-sm font-medium text-gray-700 mb-1">Marca del cargador</label>
      <input type="text" formControlName="marcaCargador"
             class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
    </div>
    <div class="flex flex-col flex-1">
      <label class="text-sm font-medium text-gray-700 mb-1">Num. Serie del cargador</label>
      <input type="text" formControlName="numSerieCargador"
             class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
    </div>
  </div>
 </div>




          <div class="flex flex-col">
            <label class="text-sm font-medium text-gray-700 mb-1">Descripcion de falla por cliente</label>
            <textarea id="comentarios" name="comentarios" [(ngModel)]="folio.comentarios" formControlName="comentarios"
              class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 w-full h-24"></textarea>
          </div>


          <!-- Botón Agregar Cliente -->
        <div class="bg-white shadow rounded-xl p-2 max-w-[850px] mx-auto text-center md:text-left">
          <button type="button" (click)="addClient()"
            class="bg-green-600 hover:bg-green-600 text-white rounded-full p-3 shadow transition">
            <i class="pi pi-plus"></i>
          </button>
        </div>

        <!-- Segundo bloque: Datos del Cliente -->
        <div class="bg-white shadow rounded-xl p-4 max-w-[850px] mx-auto">
          <div class="flex flex-col md:flex-row gap-4">
             <div class="flex flex-col flex-1">
              <label class="text-sm font-medium text-gray-700 mb-1">Num. Cliente</label>
              <input type="text" formControlName="numCliente"
                class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </div>

            <div class="flex flex-col flex-1">
              <label class="text-sm font-medium text-gray-700 mb-1">Nombre</label>
              <input type="text" formControlName="nombre"
                class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </div>
          </div>
        </div>


          <div class="mt-4 flex justify-center md:justify-end">
            <button type="submit" (click)="creaFolio()"
              class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-2 rounded-lg shadow transition flex items-center gap-2">
              <i class="pi pi-check"></i> Guardar
            </button>
          </div>
        </div>
      </form>

   
    </div>
  </div>
</div>




