<div class="grid">
    <div class="col-10">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            

            <form [formGroup]="formFolio" > 
                <!-- Primer mat-card: Folio y Fecha -->
                    <mat-card-content>
                        <div class="form-row" style="display: flex; justify-content: space-between;">
                            <mat-form-field appearance="fill" class="form-field" style=" max-width: 90px; flex: 1; margin-right: 10px;">
                                <mat-label>Folio</mat-label>
                                <input matInput formControlName="folio" readonly>
                                
                            </mat-form-field>
            
                            <mat-form-field appearance="fill" class="form-field" style="flex: 1;">
                                <mat-label>Fecha</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="fecha" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            
                        </div>
                    </mat-card-content>
                
                <mat-card class="form-section" style="max-width: 950px; margin: 5px auto;">
               
        </mat-card>
        <mat-card class="form-section" style="max-width: 950px; margin: 5px auto;">
            <mat-card-content style="margin-right: 10px;"> 
            <button pButton pRipple label="" icon="pi pi-plus" class="p-button-success mr-2"
            pTooltip="Agregar Cliente" showDelay="1000" hideDelay="300" tooltipPosition="top"
            (click)="addClient()">
            </button>
            </mat-card-content>
        </mat-card>
        
                <!-- Segundo mat-card: Datos del Cliente -->
                <mat-card class="form-section" style="max-width: 950px; margin: 5px auto;">
                    
                  

                <mat-card-content style="margin-right: 10px;">
                    <mat-form-field appearance="fill" class="form-field" style="margin-right: 10px;">
                        <mat-label style="font-size: 14px;">Num. Cliente</mat-label>
                        <input matInput formControlName="numCliente">
                    </mat-form-field>
    
                    <mat-form-field appearance="fill" class="form-field" style="flex: 1;">
                        <mat-label style="font-size: 14px;">Nombre</mat-label>
                        <input matInput formControlName="nombre">
                    </mat-form-field>
                </mat-card-content>
                    
                </mat-card>
               
                <!-- Tercer mat-card: Datos del Equipo -->
                <mat-card class="form-section" style="max-width: 950px; margin: 5px auto;">
                  
                    <mat-card-content>
                        <div class="form-row" style="display: flex; justify-content: space-between;">
                            <mat-form-field appearance="fill" class="form-field" style="flex: 1; margin-right: 10px;">
                                <mat-label style="font-size: 14px;">Tipo de Equipo</mat-label>
                                
                                <!--<mat-select formControlName="tipoEquipo">
                                    <mat-option *ngFor="let tipo of tiposEquipos" [value]="tipo">{{ tipo }}</mat-option>
                                </mat-select>-->


                                <mat-select [(ngModel)]="selectedTipoEquipo.id"  #t (selectionChange)="capturar(t.value)" formControlName="tipoEquipo">
                                    <mat-option *ngFor="let tipo of tiposEquipos" [value]="tipo">
                                      {{tipo}}
                                    </mat-option>
                                  </mat-select>


                            </mat-form-field>
            
                            <mat-form-field appearance="fill" class="form-field" style="flex: 1;">
                                <mat-label style="font-size: 14px;">Marca</mat-label>
                                <!--<mat-select formControlName="marca">
                                    <mat-option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</mat-option>
                                </mat-select>-->
                                <mat-select [(ngModel)]="selectedMarca.id"  #m (selectionChange)="capturarMarca(m.value)" formControlName="marca" >
                                    <mat-option *ngFor="let marca of marcas" [value]="marca">
                                      {{marca}}
                                    </mat-option>
                                  </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="form-field" style="flex: 1; margin-right: 10px;">
                                <mat-label style="font-size: 14px;">Modelo</mat-label>
                                <!--<input matInput formControlName="modelo">-->
                                <input matInput id="modelo" [(ngModel)]="folio.modelo" name="modelo" formControlName="modelo">
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="form-field" style="flex: 1;">
                                <mat-label style="font-size: 14px;">Num. Serie</mat-label>
                                <!--<input matInput formControlName="numSerie">-->
                                <input matInput id="numSerie" [(ngModel)]="folio.numSerie"  name="numSerie" formControlName="numSerie">
                            </mat-form-field>
                        </div>
            
                        <div class="form-row" style="display: flex; justify-content: space-between;">
                           
                        </div>
            
                        <mat-form-field appearance="fill" class="form-field" style="width: 100%;">
                            <mat-label style="font-size: 14px;">Comentarios</mat-label>
                            <!--<textarea matInput formControlName="comentarios"></textarea>-->
                            <textarea  matInput id="comentarios" [(ngModel)]="folio.comentarios"  name="comentarios" formControlName="comentarios"></textarea>
                        </mat-form-field>
                        <div class="form-group col-md-10">
                            <!--<button type="submit" class="btn btn-primary">Guardar</button>-->
                            <button type="submit" pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"></button>
                         </div>
                    </mat-card-content>
                  
             
                </mat-card>

               
            </form>
            
            

            
        
            <!--<p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="" icon="pi pi-plus" class="p-button-success mr-2"
                            pTooltip="Agregar Cliente" showDelay="1000" hideDelay="300" tooltipPosition="top"
                            (click)="nuevoCliente()">
                        </button>
                        <button pButton pRipple label="" icon="pi pi-trash" class="p-button-danger"
                            pTooltip="Eliminar Clientes" showDelay="1000" hideDelay="300" tooltipPosition="top"
                            (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length">
                        </button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>-->

            <p-table #dt [value]="clientes" [columns]="cols" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '50rem'}" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Id <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Paterno</th>
                        <th pSortableColumn="price">Materno <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="category">Télefono <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="rating">Correo <p-sortIcon field="rating"></p-sortIcon></th>
                        <th pSortableColumn="inventoryStatus">Rol<p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cliente>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
                            {{cliente.code || cliente.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{cliente.nombre}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Paterno</span>
                            {{cliente.apellidoPat}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Materno</span>
                            {{cliente.apellidoMat}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Télefono</span>
                            {{cliente.telefono}}
                        </td>
                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Correo</span>
                            {{cliente.username}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'cliente-badge status-' + (cliente.inventoryStatus ? cliente.inventoryStatus.toLowerCase() : '')">{{cliente.role}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" pTooltip="Editar" showDelay="1000" hideDelay="300" tooltipPosition="top" (click)="editClient(cliente)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" pTooltip="Eliminar" showDelay="1000" hideDelay="300" tooltipPosition="top" (click)="eliminar(cliente)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        

    </div>
</div>

<!-- Dialog for Client Form -->
<!--<p-dialog [(visible)]="clientDialog" [style]="{width: '650px'}" header="Alta de folio" [modal]="true" class="p-fluid" appendTo="body">
    <ng-template pTemplate="content">
     
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          
            <mat-card class="form-section">
           
                <mat-card-content>
                    <div class="form-row">
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Folio</mat-label>
                            <input matInput formControlName="folio" readonly>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fecha" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>

            
            <mat-card class="form-section">
                <mat-card-header>
                    <mat-card-title>Datos del Cliente</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="form-row">
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Num. Cliente</mat-label>
                            <input matInput formControlName="numCliente">
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre">
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>

      
            <mat-card class="form-section">
                <mat-card-header>
                    <mat-card-title>Datos del Equipo</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="form-row">
                  
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Tipo de Equipo</mat-label>
                            <mat-select formControlName="tipoEquipo">
                              <mat-option *ngFor="let tipo of tiposEquipos" [value]="tipo">{{ tipo }}</mat-option>
                            </mat-select>
                          </mat-form-field>

                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Marca</mat-label>
                            <mat-select formControlName="marca">
                                <mat-option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-row">
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Modelo</mat-label>
                            <input matInput formControlName="modelo">
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Num. Serie</mat-label>
                            <input matInput formControlName="numSerie">
                        </mat-form-field>
                    </div>

                    <mat-form-field appearance="fill" class="form-field">
                        <mat-label>Comentarios</mat-label>
                        <textarea matInput formControlName="comentarios"></textarea>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="onSubmit()"></button>
    </ng-template>
</p-dialog>-->


<p-dialog [(visible)]="clientDialog" [style]="{width: '650px'}" header="Alta de folio" [modal]="true" class="p-fluid" appendTo="body">
    <mat-select>
      <mat-option value="1">Opción 1</mat-option>
      <mat-option value="2">Opción 2</mat-option>
    </mat-select>
  </p-dialog>
  
  